*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
bin/results.txt
results.txt
issues.txt
.DS_Store
word_excludes.txt
test.rb
training_cache.json
issue_history.txt
*.log
